@font-face {
  font-family: 'Gotham';
  src: url("fonts/gotham-medium.woff") format("woff"), url("fonts/gotham-medium.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("fonts/gotham-light.woff") format("woff"), url("fonts/gotham-light.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("fonts/gotham-bold.woff") format("woff"), url("fonts/gotham-bold.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'blicon';
  src: url("fonts/blicon.eot?u28dog");
  src: url("fonts/blicon.eot?u28dog#iefix") format("embedded-opentype"), url("fonts/blicon.ttf?u28dog") format("truetype"), url("fonts/blicon.woff?u28dog") format("woff"), url("fonts/blicon.svg?u28dog#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'blicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cart:before {
  content: "\61";
  color: #6d6d6d; }

.icon-check:before {
  content: "\62";
  color: #6d6d6d; }

.icon-quicklook:before {
  content: "\63";
  color: #6d6d6d; }

body {
  font-family: 'Gotham', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  background-color: #F1F1F1;
  color: #444444; }

.my-card {
  background-color: #FFF;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
  padding: 15px 0; }
  .my-card__container {
    display: flex;
    margin: 5px 0; }
  .my-card__head {
    position: relative; }
  .my-card__image {
    width: 100%;
    max-width: 300px; }
  .my-card__tag {
    top: 10px;
    position: absolute;
    background-color: #FFEB3B;
    font-size: 75%;
    font-weight: bold;
    padding: 10px 20px 10px 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24); }
  .my-card__body {
    padding: 15px; }
  .my-card__title {
    font-weight: bold;
    padding: 5px; }
  .my-card__description {
    padding: 0 5px;
    color: #777777;
    font-weight: lighter;
    font-size: 80%; }
  .my-card__foot {
    display: flex;
    justify-content: flex-end;
    padding: 15px; }
  .my-card__action {
    display: flex;
    color: #6c6c6c;
    border: 1px solid #BBBBBB;
    border-radius: 50px; }
    .my-card__action__button {
      display: flex;
      align-items: center;
      margin: 0;
      transition: background-color 0.5s ease;
      border-right: 1px solid #BBBBBB;
      font-weight: bold; }
      .my-card__action__button:last-child {
        border-right: 0; }
      .my-card__action__button:hover {
        cursor: pointer;
        background-color: #E5E5E5; }
    .my-card__action__icon {
      padding: 8px 10px 8px 15px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px; }
      .my-card__action__icon .material-icons {
        font-size: 100%; }
    .my-card__action__price {
      padding: 8px 15px 8px 10px;
      font-size: 90%;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border-left: 0; }
  .my-card.space {
    margin: 0 5px; }

.my-popover {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6); }
  .my-popover.hide {
    display: none; }
  .my-popover__container {
    background-color: #FFFFFF;
    border-radius: 15px;
    display: flex;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24); }
  .my-popover__inner {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 300px; }
    .my-popover__inner--left {
      padding: 30px 0;
      justify-content: center; }
    .my-popover__inner--right {
      padding: 30px 50px; }
  .my-popover__tag {
    top: 50px;
    position: absolute;
    background-color: #FFEB3B;
    color: #555555;
    font-size: 75%;
    font-weight: bold;
    padding: 10px 20px 10px 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24); }
  .my-popover__title {
    font-size: 150%;
    font-weight: bold;
    padding: 5px; }
  .my-popover__price {
    font-weight: normal;
    padding: 0 5px;
    font-size: 120%; }
  .my-popover__description {
    font-weight: 300;
    color: #777777;
    padding: 15px 5px; }
  .my-popover__body {
    font-size: 80%; }
  .my-popover__tab {
    padding: 5px; }
    .my-popover__tab__label {
      display: flex; }
      .my-popover__tab__label__item {
        margin-right: 20px;
        font-weight: normal;
        color: #DDDDDD; }
        .my-popover__tab__label__item.active {
          border-bottom: 3px solid #FFEB3B;
          color: #444444; }
        .my-popover__tab__label__item:hover {
          border-bottom: 3px solid rgba(255, 235, 59, 0.5);
          cursor: pointer;
          color: #AAAAAA; }
    .my-popover__tab__content {
      padding: 10px 0;
      border-bottom: 1px solid #EEE;
      border-top: 1px solid #EEE;
      position: relative;
      top: -2px; }
      .my-popover__tab__content__item {
        display: none;
        font-size: 90%;
        font-weight: 300; }
        .my-popover__tab__content__item.active {
          display: block; }
  .my-popover__colorpick {
    padding: 5px; }
    .my-popover__colorpick__form {
      display: flex;
      padding: 10px 0;
      border-bottom: 1px solid #EEEEEE; }
      .my-popover__colorpick__form .my-radio {
        margin: 0 10px; }
        .my-popover__colorpick__form .my-radio:hover {
          cursor: pointer; }
          .my-popover__colorpick__form .my-radio:hover[type='radio']:after {
            border: 2px solid #888888; }
        .my-popover__colorpick__form .my-radio[type='radio']:after {
          width: 15px;
          height: 15px;
          border-radius: 15px;
          top: -2px;
          left: -1px;
          position: relative;
          content: '';
          display: inline-block;
          visibility: visible;
          border: 2px solid white;
          opacity: 0.75; }
        .my-popover__colorpick__form .my-radio.grey[type='radio']:after {
          background-color: #DDDDDD; }
        .my-popover__colorpick__form .my-radio.black[type='radio']:after {
          background-color: #333333; }
        .my-popover__colorpick__form .my-radio.gold[type='radio']:after {
          background-color: #d6ba75; }
      .my-popover__colorpick__form .my-radio[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border: 2px solid #FFFFFF;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        font-family: 'blicon' !important;
        font-size: 17px;
        color: #FFFFFF;
        content: "\62";
        display: inline-block;
        visibility: visible;
        opacity: 1; }
    .my-popover__colorpick__dots {
      display: flex;
      padding: 10px 0;
      border-bottom: 1px solid #EEEEEE; }
    .my-popover__colorpick__icondot {
      font-size: 16px;
      margin-right: 5px;
      background-color: #BBBBBB;
      border-radius: 50px; }
      .my-popover__colorpick__icondot::before {
        color: #FFFFFF; }
    .my-popover__colorpick__dotclick:hover {
      cursor: pointer; }
    .my-popover__colorpick__dot {
      display: flex;
      padding: 4px;
      border: 1px solid #333;
      border-radius: 50px;
      margin-right: 5px; }
      .my-popover__colorpick__dot:last-child {
        margin-right: 0; }
      .my-popover__colorpick__dot__inner {
        height: 6px;
        width: 6px;
        background-color: #EEEEEE;
        border-radius: 50px; }
      .my-popover__colorpick__dot:hover {
        padding: 2px; }
        .my-popover__colorpick__dot:hover .my-popover__colorpick__dot__inner {
          height: 10px;
          width: 10px; }
      .my-popover__colorpick__dot.black {
        border-color: #333; }
        .my-popover__colorpick__dot.black .my-popover__colorpick__dot__inner {
          background-color: #333; }
      .my-popover__colorpick__dot.gold {
        border-color: #d6ba75; }
        .my-popover__colorpick__dot.gold .my-popover__colorpick__dot__inner {
          background-color: #d6ba75; }
  .my-popover__list__item {
    padding: 5px 0;
    display: flex;
    align-items: center; }
    .my-popover__list__item__text {
      padding: 0 10px; }
    .my-popover__list__item i::before {
      color: #66BB6A; }
  .my-popover__carousel__image {
    display: none;
    width: 100%; }
    .my-popover__carousel__image.active {
      display: block; }
  .my-popover__foot {
    padding: 25px 5px 10px 5px;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #EEEEEE; }
  .my-popover__action {
    display: flex;
    color: #6c6c6c;
    border-radius: 50px;
    background-color: #333333; }
    .my-popover__action__button {
      color: #FFFFFF;
      display: flex;
      align-items: center;
      margin: 0;
      transition: background-color 0.5s ease;
      border-right: 1px solid #BBBBBB;
      font-weight: bold;
      font-size: 80%; }
      .my-popover__action__button:last-child {
        border-right: 0; }
    .my-popover__action__icon {
      padding: 8px 10px 8px 12px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px; }
      .my-popover__action__icon i::before {
        color: #FFFFFF; }
    .my-popover__action__label {
      padding: 8px 15px 8px 10px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border-left: 0; }
      .my-popover__action__label:hover {
        cursor: pointer;
        background-color: #595959; }

.my-list {
  padding: 5px;
  font-weight: 300; }
  .my-list__item {
    padding: 5px 0;
    display: flex;
    align-items: center; }
    .my-list__item__text {
      padding: 0 10px;
      font-size: 90%; }
    .my-list__item i::before {
      color: #66BB6A; }

/*# sourceMappingURL=styles.css.map */
