@font-face {
  font-family: 'Gotham';
  // src: url('fonts/gotham-medium.eot'); /* IE9 Compat Modes */
  src: url('fonts/gotham-medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/gotham-medium.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  // src: url('fonts/gotham-light.eot'); /* IE9 Compat Modes */
  src: url('fonts/gotham-light.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/gotham-light.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('fonts/gotham-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/gotham-bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}
